* {
  font-size: calc(10px + 2vmin);
  font-family: "Titillium Web", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}

a {
  color: black;
}

.dark-mode {
  background-color: #191919;
  color: white;
  a {
    color: white;
  }
}

.scroll-to-top {
  transform: translate3d(0,0,0);
  position: fixed;
  bottom: 0rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  span {
    font-size: 1.7rem;
  }
  &:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}